html,body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 16px;
  font-family: "Raleway";
  line-height: 1.6;
}
@media (min-width: 850px) {
  html, body {
    font-size: 18px;
  }
}
body {
  background: linear-gradient(90deg, #392955 0%, #3a6294 100%);
  text-align: center;
  min-height: 100vh; 
  display: grid;
  grid-template-rows: auto 1fr auto;
}
h1, h3, h4 {
  margin: 0 0 1rem;
  font-weight: 700;
  line-height: 1.25;
}
h1 {
  font-size: 3rem;
}
h3 {
  font-size: 1.4em;
}
p {
  max-width: 18rem;
  margin: 1rem auto;
}
a {
  text-decoration: none;
  color: white;
}
.container {
  width: 85%;
  margin: 0 auto;
  max-width: 900px;
}
header {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgb(0,0,0,0.5);
}
header .container {
  padding: 2em 0;
}
header .logo {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 1.75em 0 0;
}
@media (min-width: 405px) {
  header .logo {
    width: 330px;
  }
}
header p {
  max-width: 30em;
  margin: 3rem auto;
}
header a.tiny {
  font-size: 0.8em;
}
header a.tiny:hover {
  text-decoration: underline;
}
.row-one {
  overflow: hidden;
  background-color: rgba(36, 31, 49, 0.47);
}
.row-two {
  overflow: hidden;
  background-color: #241f31;
}
@media (min-width: 850px) {
  .group {
    display: flex;
  }
}
.group .block {
  width: 100%;
  margin: 6rem auto;
}
@media (min-width: 850px) {
  .group .block {
    width: 30em;
  }
}
.block .icon {
  width: 128px;
  height: 128px;
  margin-bottom: 1rem;
}
footer {
  background-color: #1a1622;
  padding: 4em 0 4em;
  color: white;
  font-size: 0.9em;
}
footer {
  font-size: 1.2em;
  font-weight: 600;
}
footer p {
  font-size: 0.5em;
}
.button {
  display: block;
  border-radius: 1000px;
  margin: 1rem auto;
  padding: 0.6rem 2rem;
  width: 50%;
  max-width: 14em;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.35s cubic-bezier(0.17, 0.89, 0.32, 1.28);
}
.button:hover {
  transform: scale(1.05);
}
.button:active {
  transform: scale(0.98);
}
.download-button {
  width: 12em;
  padding: 0.9em 3em;
  font-size: 1.2em;
}
.blue-button {
  background: linear-gradient(0deg, #3584e4 0%, #62a0ea 100%);
  color: white;
}
.white-button {
  background: linear-gradient(0deg, #c0bfbc 0%, #f6f5f4 100%);
  color: #241f31;
}
.red-button {
  background: linear-gradient(0deg, #c01c28 0%, #ed333b 100%);
  color: white;
}

