body {
  background: black url("/images/squid.gif");
  background-size: 3rem;
}

h1, h3, p {
  font-family: "Comic Neue", "Comic Sans MS", "Comic Sans", cursive;
  text-align: center;
}

p {
  font-family: cursive;
}

h1 {
  color: deeppink;
  font-size: 4rem;
}

h3 {
  color: rebeccapurple;
  font-size: 2rem;
}

p {
  color: red;
  font-size: 3rem;
  font-style: italic;
  text-decoration: underline;
}

footer {
  margin-top: 100px;
  text-align: center;
}

footer p {
  font-family: serif;
  font-style: normal;
  font-size: 0.8rem;
  text-decoration: none;
  color: aqua;
}

footer a {
  color: aqua;
  text-decoration: none;
}

.image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.img-large, .large img {
  width: 350px !important;
}

.img-medium, .medium img {
  width: 175px !important;
}

.small img {
  width: 75px;
}

.bottom {
  margin-top: 50px;
}

@font-face {
  font-family: 'Comic Neue';
  src: local('Comic Neue Light'), local('ComicNeue-Light'),
  url('/fonts/ComicNeue-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Comic Neue';
  src: local('Comic Neue Italic'), local('ComicNeue-Italic'),
  url('/fonts/ComicNeue-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Comic Neue';
  src: local('Comic Neue Bold'), local('ComicNeue-Bold'),
  url('/fonts/ComicNeue-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Comic Neue';
  src: local('Comic Neue Bold Italic'), local('ComicNeue-BoldItalic'),
  url('/fonts/ComicNeue-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Comic Neue';
  src: local('Comic Neue Light Italic'), local('ComicNeue-LightItalic'),
  url('/fonts/ComicNeue-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Comic Neue';
  src: local('Comic Neue Regular'), local('ComicNeue-Regular'),
  url('/fonts/ComicNeue-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Comic Neue Angular';
  src: local('Comic Neue Angular Bold'), local('ComicNeueAngular-Bold'),
  url('/fonts/ComicNeueAngular-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Comic Neue Angular';
  src: local('Comic Neue Angular Italic'), local('ComicNeueAngular-Italic'),
  url('/fonts/ComicNeueAngular-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Comic Neue Angular';
  src: local('Comic Neue Angular Bold Italic'), local('ComicNeueAngular-BoldItalic'),
  url('/fonts/ComicNeueAngular-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Comic Neue Angular';
  src: local('Comic Neue Angular Light Italic'), local('ComicNeueAngular-LightItalic'),
  url('/fonts/ComicNeueAngular-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Comic Neue Angular';
  src: local('Comic Neue Angular Regular'), local('ComicNeueAngular-Regular'),
  url('/fonts/ComicNeueAngular-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Comic Neue Angular';
  src: local('Comic Neue Angular Light'), local('ComicNeueAngular-Light'),
  url('/fonts/ComicNeueAngular-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

