:root {
  --text-color: #e7e7e7;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: linear-gradient(90deg, #392955 0%, #3a6294 100%) fixed;
  min-height: 100vh;
  font-family: raleway, sans-serif;
  align-items: center;
  color: var(--text-color);
  padding: 0 0 3rem;
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0, 0.3);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0, 0.5);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  min-height: calc(100vh - 9rem);
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  padding-block: 3rem;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 1.2rem;
}

.logo {
  width: 18rem;
  max-width: 90%;
  aspect-ratio: 1/1;
}

.logo img {
  width: 100%;
  height: 100%;
}

.text-center {
  text-align: center;
}

p {
  font-size: 1.2rem;
  width: 40rem;
  max-width: 90%;
}

.downloads {
  min-width: 10rem;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  grid-gap: 1rem;
}

.button {
  text-decoration: none;
  display: block;
  min-width: 14rem;
  padding: 1.6rem;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 1.6rem;
  border: 0;
  background-image: linear-gradient(150deg,#25b8ff 0%, #e471e7 100%);
  color: var(--text-color);
  margin: 0 auto;
  transition: background 250ms linear;
  background-position: 0 0;
  background-size: 100% 300%;
  box-shadow: 0 5px 0 #026da1;
}

.button:hover {
  background-position: 0 -8rem;
}

.button:active {
  box-shadow: none;
  transform: translateY(5px);
}

section.basic-links {
  width: 100%;
  background: rgba(0,0,0, 0.4);
  padding-block: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

section:not(:first-child) {
  margin-top: 3rem;
}

a.card {
  display: inline-flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 60%;
  min-height: 15rem;
  width: 16rem;
  gap: 1.3rem;
  text-decoration: none;
  color: var(--text-color);
  border-radius: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: transform 100ms linear;
}

a.card:hover {
  transform: scale(1.05);
}

a.card:focus {
  outline: 2px solid #25b8ff;
}

.card:target {
  outline: 1px solid var(--text-color);
}

.card h2 {
  font-size: 1.5rem;
}

.card .icon {
  width: 60%;
  aspect-ratio: 1/1;
}

.card .icon img {
  width: 100%;
  height: 100%;
}

.card p {
  margin: 0;
}

section.support {
  width: 100%;
  padding-block: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.support h1 {
  margin-bottom: 1.5rem;
}

section.support .wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-block: 1rem;
  gap: 3rem;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

footer a {
  text-decoration: none;
  color: var(--text-color);
}
