/* basics */

html, * {
  margin: 0px;
  padding: 0px;
}
html {
  overflow-y: scroll;
  font-size: 0px;
}
body {
  font-size: 0px;
  font-family: Raleway;
  color: #443f3f;
  min-height: 100vh; 
  display: grid;
  grid-template-rows: auto 1fr auto;
  overscroll-behavior: none;
}
a {
  color: #d65050;
  text-decoration: none;
}

/* page wrapper */

.wrapper {
  display: block;
  width: 1140px;
  margin: 0px auto;
  text-align: left;
}

/* header stuff */

#header-image {
  display: block;
  height: 300px;
  background-image: url(https://purpur.pl3x.net/images/background_smol.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
header.float-header {
  height: 75px;
  padding: 5px 0px;
  background-color: rgba(38,50,70,0.9);
  backdrop-filter: blur(3px);
}
header.float-header #logo div {
  margin-top: 5px;
}
header.float-header #logo .title {
  padding-bottom: 5px;
}
header.float-header #logo img {
  width: 75px;
  height: 75px;
}
header.float-header nav {
  line-height: 75px;
}
header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  padding: 20px 0px;
  text-align: center;
  transition: all 500ms ease-in-out;
}
header::after {
  content: "";
  display: table;
  clear: both;
}
header #logo div {
  float: left;
  margin-top: 10px;
  transition: all 500ms ease-in-out;
}
header #logo .title {
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 20px;
  transition: all 500ms ease-in-out;
}
header #logo .description {
  font-size: 16px;
  font-weight: 600;
  transition: all 500ms ease-in-out;
}
header #logo img {
  width: 100px;
  height: 100px;
  float: left;
  padding-right: 10px;
  transition: all 500ms ease-in-out;
}
header nav {
  float: right;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  line-height: 100px;
  transition: all 500ms ease-in-out;
}
header nav a {
  padding: 0px 14px;
}
header a,
header a:visited {
  color: #FFFFFF;
}

/* top title */

#top {
  padding-top: 80px;
}
#top h1 {
  font-size: 36px;
  font-weight: 600;
}
#top p {
  margin-top: 25px;
  font-size: 16px;
}
