/* header image */

#header-image {
  display: block;
  height: 100vh;
  background-position: 0px 0px;
}

/* anchors */

#begin {
  position: relative;
  top: -85px;
}

/* top title */

#top {
  position: absolute;
  top: 50%;
  margin-top: -225px;
  left: 0px;
  width: 100%;
  text-align: center;
}

#top h1 {
  display: inline-block;
  font-size: 57px;
  font-weight: 700;
  color: #FFFFFF;
  text-shadow: 2px 2px 3px rgba(0,0,0,.75);
}
#top h1::after {
  content: "";
  display: block;
  margin: 10px auto 0px auto;
  width: 40%;
  height: 1px;
  background-color: #d83a3a;
}
#top p {
  font-size: 30px;
  font-weight: 300;
  color: #FFFFFF;
  text-shadow: 2px 2px 3px rgba(0,0,0,.75);
  padding-bottom: 50px;
}
#top a {
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
  background-color: #d83a3a;
  border: 1px solid #d65050;
  border-radius: 3px;
  padding: 12px 35px;
  transition: all .3s;
}
#top a:hover {
  background-color: transparent;
  color: #d83a3a;
  font-weight: 400;
}

/* sections */

.section {
  margin: 150px 0px;
}
.section ul {
  list-style-type: none;
  display: table;
  width: 100%;
}
.section ul li {
  display: table-cell;
  vertical-align: middle;
}
.section ul li p {
  padding: 50px;
  font-size: 20px;
}

#about {
  font-size: 16px;
  background-color: #f7f7f7;
}

#starlight img {
  width: 600px;
}

#ridables {
  font-size: 16px;
  background-color: #f7f7f7;
}

/* bStats bar */

#bstats {
  height: 240px;
  background-color: #263246;
}
#bstats ul {
  list-style-type: none;
  display: table;
  width: 100%;
}
#bstats ul li {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 33%;
}
#bstats ul li div {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
#bstats ul li div i {
  padding: 95px 20px 95px 0px;
  font-size: 50px;
  color: #d83a3a;
}
#bstats ul li div p {
  font-size: 60px;
  font-weight: 700;
  color: #FFFFFF;
  padding: 0px 0px 10px 0px;
}
#bstats ul li div span {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
}
#bstats img {
  width: 600px;
}

/* meet the team */

#team {
  width: 100%;
  margin: 150px 0px;
}
#team h1 {
  margin-bottom: 25px;
  text-align: center;
  font-size: 44px;
  fnt-weight: 700;
  color: #263246;
}
#team h3 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #868990;
}
#team ul {
  list-style-type: none;
  display: table;
  width: 100%;
}
#team ul li {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 25%;
}
#team ul li img {
  width: 200px;
  height: 200px;
}
#team ul li p {
  margin: 25px 0px 5px 0px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #263246;
}
#team ul li span {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #868990;
}

/* Thanks stuff */

#thanks {
  width: 100%;
  background-color: #f7f7f7;
  margin-top: 0px;
}
#thanks ul {
  list-style-type: none;
  display: table;
  width: 100%;
  height: 200px;
}
#thanks ul li {
  display: table-cell;
  text-align: center;
  padding-top: 50px;
}
