##Options -MultiViews
##Options +FollowSymLinks
RewriteEngine On

# Discord redirects
RewriteRule ^discord$ https://discord.gg/mtAAnkk [R=301,L]
RewriteRule ^discord/$ https://discord.gg/mtAAnkk [R=301,L]
RewriteRule ^invite$ https://discord.gg/mtAAnkk [R=301,L]
RewriteRule ^invite/$ https://discord.gg/mtAAnkk [R=301,L]

# Javadocs redirects
RewriteRule ^javadoc$ /javadoc/index.html [R=301,L]
RewriteRule ^javadoc/$ /javadoc/index.html [R=301,L]
RewriteRule ^javadocs$ /javadoc/index.html [R=301,L]
RewriteRule ^javadocs/$ /javadoc/index.html [R=301,L]

# bStats redirects
RewriteRule ^bstats$ https://bstats.org/plugin/server-implementation/Purpur [R=301,L]
RewriteRule ^bstats/$ https://bstats.org/plugin/server-implementation/Purpur [R=301,L]

# Docs redirects
#RewriteRule ^doc$ https://www.github.com/pl3xgaming/Purpur/wiki [R=301,L]
#RewriteRule ^docs$ https://www.github.com/pl3xgaming/Purpur/wiki [R=301,L]
#RewriteRule ^wiki$ https://www.github.com/pl3xgaming/Purpur/wiki [R=301,L]
#RewriteRule ^documentation$ https://www.github.com/pl3xgaming/Purpur/wiki [R=301,L]

# Github redirects
RewriteRule ^github$ https://www.github.com/pl3xgaming/Purpur [R=301,L]
RewriteRule ^github/$ https://www.github.com/pl3xgaming/Purpur [R=301,L]
RewriteRule ^source$ https://www.github.com/pl3xgaming/Purpur [R=301,L]
RewriteRule ^source/$ https://www.github.com/pl3xgaming/Purpur [R=301,L]

## Redirects certain files to the root domain
RewriteRule ^index.php$ / [R=301,L]
RewriteRule ^index.html$ / [R=301,L]
RewriteRule ^header.php$ / [R=301,L]
RewriteRule ^footer.php$ / [R=301,L]

## Redirects images dir file to the root domain
RewriteRule ^images$ / [R=301,L]
RewriteRule ^images/$ / [R=301,L]

## Redirects css dir file to the root domain
RewriteRule ^css$ / [R=301,L]
RewriteRule ^css/$ / [R=301,L]

## Redirects js dir file to the root domain
RewriteRule ^js$ / [R=301,L]
RewriteRule ^js/$ / [R=301,L]

## Redirects images dir file to the root domain
##RewriteRule ^test$ /downloads [R=301,L]
##RewriteRule ^test/(.*+)?$ /downloads [R=301,L]

## Rewrite downloads directory to use downloads.php
#RewriteCond %{REQUEST_FILENAME} downloads/$
#RewriteRule . /index.php [NC,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /(([^/]+/)*([^/.]+))\.php[\ ?]
RewriteRule \.php$ /%1/ [R=301,NC,L]
RewriteRule ^(.*)/$ /$1.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
RewriteRule (.*)$ /$1/ [R=301,L]
