html,
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  background: #2e303d;
  color: #eaebfc;
  font-family: "Roboto",-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif;
  font-size: 16px;
  margin-top: 75px;
}

a {
  text-decoration: none;
  color: #eaebfc;
}

.container {
  display: flex;
  max-width: 1220px;
  margin: 25px auto;
}
.left {
  display: none;
  width: 234px;
  background: rgba(255,255,255,0.025);
}
@media (min-width: 1220px) {
  .left {
    display: block;
  }
}
.right {
  display: none;
  width: 234px;
  background: rgba(255,255,255,0.025);
}
@media (min-width: 960px) {
  .right {
    display: block;
  }
}
@media (max-width: 1220px) {
  .right {
    
  }
}

.anchor {
  position: absolute;
  margin: -75px;
}

.codeblock {
  background: rgb(33, 34, 44);
  font-family: "Roboto Mono", SFMono-Regular, Consolas, Menlo, monospace;
  font-size: 0.8rem;
  font-style: normal;
  text-decoration: none;
  padding: 2px 4px 1px;
}
.codeblock a {
  color: rgb(40, 181, 246);

}
.codeblock a:hover {
  color: rgb(66, 135, 255);
}

header {
  background: rgb(75, 41, 107);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px 0px, rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}
header .container {
  display: flex;
  margin: 0px auto;
}
header .logo {
  display: none;
  margin-right: 20px;
  line-height: 48px;
}
@media (min-width: 1220px) {
  header .logo {
    display: block;
  }
}
header .logo img {
  vertical-align: middle;
  width: 32px;
  margin-left: 20px;
}
header .navbtn {
  display: block;
  margin-right: 20px;
  line-height: 48px;
}
@media (min-width: 1220px) {
  header .navbtn {
    display: none;
  }
}
header .navbtn svg {
  vertical-align: middle;
  width: 28px;
  fill: #eaebfc;
  margin-left: 20px;
}
header p {
  display: inline-block;
  font-size: 18px;
  line-height: 48px;
  padding: 0px;
  margin: 0px;
  flex-grow: 1;
}
header div {
  display: block;
}

header .purpurdocs {
  display: none;
  width: 234px;
  font-size: 13px;
  font-weight: bold;
}
@media (min-width: 960px) {
  header .purpurdocs {
    display: block;
  }
}
header .purpurdocs:hover .icon,
header .purpurdocs:hover .github {
  color: rgba(234, 235, 252, 0.8);
  fill: rgba(234, 235, 252, 0.8);
}
header .purpurdocs .icon {
  display: inline-block;
  fill: #eaebfc;
  margin: 12px 10px;
  transition: all 250ms ease-in-out;
}
header .purpurdocs .icon svg {
  width: 24px;
  height: 24px;
}
header .purpurdocs .github {
  display: inline-block;
  font-size: 11px;
  transition: all 250ms ease-in-out;
}
header .purpurdocs .github span {
  display: block;
}

.configuration  {
  flex-grow: 1;
  width: 100%;
}
@media (min-width: 1220px) {
  .configuration {
    max-width: 800px;
  }
}
.configuration div {
  margin-left: 20px;
}

.headerlink {
  font-weight: bold;
  font-size: 20px;
}
.headerlink::before {
  content: "• ";
}
.headerlink a span {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}
.headerlink:hover a span {
  opacity: 1;
}

.optionkey {
  font-weight: bold;
}
.optionkey::before {
  content: "• ";
}

.optionvalue {
  font-weight: normal;
}

.section {
}

.subsection {
  padding-bottom: 10px;
}

.section .requirement {
  display: block;
  margin: 5px 0 10px 20px;
  font-style: italic;
}

.section .default {
}
.section .default::before {
  content: "• default: ";
  font-weight: bold;
}

.section .description {
}
.section .description::before {
  content: "• description: ";
  font-weight: bold;
}

.section .note {
  margin: 10px 50px 25px 0;
  background: rgba(255, 255, 255, 0.024);
  font-size: 14px;
  border-left: 4px solid rgb(68, 138, 255);
}
.section .note::before {
    content: "✏️ Note";
    display: block;
    background: rgba(68, 138, 255, 0.1);
    font-weight: bold;
    padding: 10px;
}
.section .note .optionvalue {
    display: block;
    margin: 15px 10px 5px;
}

.section .warning {
  margin: 10px 50px 25px 0;
  background: rgba(255, 255, 255, 0.024);
  font-size: 14px;
  border-left: 4px solid rgb(255, 145, 0);
}
.section .warning::before {
  content: "⚠️ Warning";
  display: block;
  background: rgba(255, 145, 0, 0.1);
  font-weight: bold;
  padding: 10px;
}
.section .warning .optionvalue {
  display: block;
  margin: 15px 10px 5px;
}
