---
import BaseHead from "./BaseHead.astro";
import Nav from "./Nav.astro";
export interface Props {
	title: string;
	description: string;
	permalink: string;
	current?: string;
}
const { title, description, permalink, current } = Astro.props;
---

<html lang="en">
<head>
	<BaseHead title={title} description={description} permalink={permalink} />
</head>
<body>

<div class="layout">
	<Nav current={current} />
	<main>
		<slot />
	</main>
</div>
<footer>
	<p>
		<a href="/">© 2019-{new Date().getUTCFullYear()} Purpur</a> <a href="https://github.com/PurpurMC/PurpurWebsite/blob/HEAD/LICENSE">MIT</a>
	</p>
</footer>
</body>
</html>

<style lang="scss">
	.layout {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	main {
		flex: 1;
		position: relative;
		margin: 0 auto;
		max-width: var(--max-site-width);
		padding: 1em 2em;
		box-sizing: border-box;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 2.5rem;
	}

	footer {
		padding-block: 2.5rem;
		p {
			text-align: center;
			a {
				text-decoration: none;
			}
		}
	}
</style>
